<h2> {{ profile_user.username }}'s Timeline </h2>
{% if user.is_authenticated %}
    <div class="header">
        {% if user == profile_user %}
            This is you!
        {% elif followed %}
            You are currently following this user.
            <a class="unfollow" href="{% url 'toggle' profile_user.username %}">Unfollow user</a>
            .
        {% else %}
            You are not yet following this user.
            <a class="follow" href="{% url 'toggle' profile_user.username %}">Follow user</a>.
        {% endif %}
    </div>
{% endif %}