<!doctype html> {% load static %}

<title>{% block title %}Welcome{% endblock %} | MiniTwit</title>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<div class="page">
    <h1>MiniTwit</h1>
    <div class="navigation">
        {% if 'user_id' in request.session %}
        <a href="{% url 'timeline' %}">my timeline</a> |
        <a href="{% url 'public_timeline' %}">public timeline</a> |
        <a href="{% url 'logout' %}">sign out [{{ request.session.username }} ] </a> {% else %}
        <a href="{% url 'public_timeline'  %}">public timeline</a> |
        <a href="{% url 'register'  %}">sign up</a> |
        <a href="{% url 'login' %}">sign in</a> {% endif %}
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}


    <div class="body">
        {% block body %}{% endblock %}
    </div>
    <div class="footer">
        MiniTwit &mdash; A Django Application
    </div>
</div>
