<!doctype html>
{% load static %}

<title>{% block title %}Welcome{% endblock %} | MiniTwit</title>
<script src="{% static 'jquery.js' %}"></script>

{#<link rel="stylesheet" type="text/css" href="{% static 'blog/modern-business.css' %}">#}
{#<link rel="stylesheet" type="text/css" href="{% static 'blog/bootstrap.min.css' %}">#}
{#<script src="{% static 'blog/bootstrap.min.js' %}"> </script>#}

<script src="{% static 'materialize/materialize.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'materialize/materialize.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'minitwit.css' %}">

<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">MiniTwit</a>

        <ul class="right hide-on-med-and-down">
            {% include "blog/menu.html" %}
        </ul>

        <ul id="slide-out" class="side-nav">
            {% include "blog/menu.html" %}

        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><b>三</b></a>
    </div>
</nav>

{% comment %}
    The location of the startup javascript is very important
{% endcomment %}
<script src="{% static 'minitwit.js' %}"></script>


<div class="container">
    {% block body %}{% endblock %}
</div>


<footer class="page-footer">
    <div class="container">
        <div class="col l6 s12">
            MiniTwit &mdash; A Django Application
        </div>
    </div>
</footer>
